@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

body {
  scrollbar-width: none;
}

body.auto-swiper-active {
  overflow: hidden;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

#fav-recipe {
  background-color: blue;
}

/* Swiper Chef*/
img {
  max-width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-wp {
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  position: unset;
  width: 50px;
  height: 50px;
  display: inline-flex;
  font-size: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  color: #0d0d25;
  background: #ffffff;
  box-shadow: -20px 20px 60px #d4d4d4, 20px -20px 60px #ffffff;
  padding-top: 1px;
  padding-right: 2px;
  transition: 0.3s;
}

.swiper-button-next {
  box-shadow: 20px 20px 60px #d4d4d4, -20px -20px 60px #ffffff;
  padding-left: 3px;
}

.swiper-button-prev:hover {
  box-shadow: inset 5px 5px 20px #d4d4d4, inset -5px -5px 20px #ffffff;
  color: black;
}

.swiper-button-next:hover {
  box-shadow: inset -5px 5px 20px #d4d4d4, inset 5px -5px 20px #ffffff;
  color: black;
}

.swiper-pagination {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 60px;
  background: linear-gradient(145deg, #ececec, #ffffff);
  box-shadow: 25px 28px 55px #d4d4d4, -28px -28px 55px #ffffff;
  max-width: fit-content;
  left: 50% !important;
  transform: translate(-50%, 0);
  bottom: 0 !important;
  color: #000;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0px 10px !important;
  border-radius: 10px;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.swiper-pagination-bullet-active {
  background: black;
  width: 30px;
}

.team-slider {
  position: relative;
}

.team-box {
  padding: 10px;
  border-radius: 30px;
  background: linear-gradient(145deg, #ececec, #ffffff);
  box-shadow: 20px 20px 40px #e6e6e6, -20px -20px 40px #ffffff;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.team-box:hover {
  transform: scale(1.03);
}

.team-img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 9px 9px 18px rgb(194 194 194 /0.5),
    -9px -9px 18px rgb(255 255 255 / 0.5);
}

.team-box .h3-title {
  text-transform: capitalize;
  color: #0d0d25;
  font-weight: 600;
}

.social-icon {
  margin: 15px 0px 10px;
}

.social-icon ul li {
  display: inline-block;
  margin: 0 6px;
}

.social-icon ul li:last-child {
  margin-right: 0;
}

.social-icon ul li:first-child {
  margin-left: 0;
}

.social-icon ul li a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
  color: #0d0d25;
  font-size: 19px;
}

.social-icon ul li a:hover {
  background: black;
}

.social-icon ul li a:hover i {
  color: #ffffff !important;
}


.footer-social-icon ul li {
  display: inline-block;
  margin: 0 6px;
}

.footer-social-icon ul li a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  color: #0d0d25;
  font-size: 19px;
}

.footer-social-icon ul li a:hover {
  background: black;
}

.footer-social-icon ul li a:hover i {
  color: #ffffff !important;
}


@media (max-width: 1399px) {
  .h3-title {
    font-size: 26px;
    line-height: 36px;
  }
  .team-img {
    height: 400px;
  }
}

@media (max-width: 1199px) {
  .team-img {
    height: 340px;
  }
}

@media (max-width: 991px) {
  .swiper-pagination-bullet {
    margin: 0 5px !important;
    width: 8px;
    height: 8px;
  }
  .swiper-pagination {
    padding: 6px 15px;
  }
  .swiper-button-wp {
    margin-top: 20px;
  }
  .swiper-pagination-bullet-active {
    width: 16px;
  }
  body {
    height: auto !important;
  }
}

@media (max-width: 767px) {
  .team-img {
    height: 430px;
  }
}

@media (max-width: 480px) {
  .team-img {
    height: 330px;
  }
}

@media (max-width: 400px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .team-box .h3-title {
    min-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .team-img {
    height: 280px;
  }
}
/* Swiper Chef Ends*/

.top-footer,
.bottom-footer {
  border-top: 1px solid rgb(204 204 204 / 40%);
  position: relative;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-info .social-icon {
  margin-top: 20px;
}

.footer-flex-box {
  display: flex;
  margin: 0 -10px;
}

.footer-flex-box > div {
  flex: 1;
  padding: 0 10px;
}

.footer-flex-box .h3-title {
  text-transform: capitalize;
  margin-bottom: 23px;
}

.footer-menu ul li a {
  color: #0d0d25;
  transition: 0.3s;
  text-transform: capitalize;
}

.footer-menu ul li a:hover,
.footer-menu ul li .footer-active-menu {
  color: yellow;
}

.footer-menu ul li {
  margin-bottom: 8px;
}

.footer-table-info ul li {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.uil-clocl {
  font-size: 17px;
}

.copyright-text {
  padding: 20px 0;
}

.copyright-text p {
  margin: 0;
}

.name {
  color: rgb(255, 167, 43);
  font-weight: bold;
}

.scrolltop {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f3f3f5;
  box-shadow: 1px 1px 2px #b2b2b3, -1px -1px 1px #ffffff;
  color: black;
  font-size: 25px;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  border: none;
}

.scrolltop:hover {
  box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
  color: #0d0d25;
}

.subscribe-area {
  background-image: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
}

.subscribe-text span {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
}
.subscribe-text h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 6px;
}
.subscribe-wrapper {
  overflow: hidden;
}
.mb-15 {
  margin-bottom: 15px;
}
.subscribe-form {
    margin-top: 30px;
}

.subscribe2-wrapper .subscribe-form input {
    background: none;
    border: 1px solid #fff;
    border-radius: 30px;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    height: 57px;
    padding-left: 35px;
    width: 70%;
    cursor: pointer;
}

.subscribe2-wrapper .subscribe-form button {
    background: #ffff;
    border: none;
    border-radius: 30px;
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 18px 46px;
    transition: all 0.3s ease 0s;
}
.subscribe2-wrapper .subscribe-form button i {
    font-size: 18px;
    padding-left: 5px;
}

@media (max-width: 768px) {
    .subscribe2-wrapper .subscribe-form input {
        width: 100%; 
    }
    
    .subscribe2-wrapper .subscribe-form button {
        width: 100%; 
        margin-top: 20px;
    }
}

@media (max-width: 1200px) {
    .subscribe2-wrapper .subscribe-form input {
        width: 100%; 
    }
    
    .subscribe2-wrapper .subscribe-form button {
        width: 100%; 
        margin-top: 20px;
    }
}

.service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, rgb(255, 167, 43) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.service-title {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}

.service-text {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.icon-wrapper {
  background-color: black;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.service-card:hover {
  background-position: 0 100%;
}

.service-card:hover .icon-wrapper {
  background-color: #ffffff;
  color: black;
}

.service-card:hover .service-title {
  color: #ffffff;
}

.service-card:hover .service-text {
  color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  .service-container {
    padding: 0 2em;
  }

  .mb-4 {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .service-container {
    padding: 1em 3em;
  }

  .col-lg-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
